h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: blueviolet;
    padding-bottom: 20px;;
}
h3 {
    text-align: justify;
    font-weight: bold;
    font-size:2rem;
    color:darkgreen;
    padding-bottom: 20px;
}
form {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    color: blue;
}
#nameLength, #outraLinha {
    color: green;
}

#negrito {
    font-weight: bold;
}

p {
    padding: 20px;
    text-indent: 1rem;;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2rem;
}