.flex-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;

}
#inputRange {
    max-width: 500px;
}
#div-content {
    margin-top:20px;
    border: 1px;
    border-radius: 5px;
    padding:10px;
}
#inputFrequency {
    
}
